<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.powerconsumptionmonitor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Power Consumption Monitor"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PowerConsumptionMonitor">
        
        <service
            android:name=".PowerMonitorService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
